html {
  box-sizing: border-box;
  font-size: 32px;
}
html *,
html *:before,
html *:after { box-sizing: inherit; }

body{
  background-color: #b9a57f;
  text-align: center;
  color: #52350d;
}

img{
  min-width: 3rem;
  min-height: 3rem;
}


.header {
  font-size: 1.75rem;
}

#toggle-temp{
  font-size: 1em;
  color: #4a76ff;
  cursor: pointer;
}
